# rust
/rust/target
/bindgen_test/target
**/*.rs.bk
Cargo.lock
math_iface/gen/*
*.a

# ocaml
_opam
_build
*.merlin
stanc.install

# js
node_modules/*

# python
*.pyc

# tests
test/*.log

# Visual Studio settings
.vscode/**

# temporary editor files
*~
\#*#
.#*
.*.swp

# Mac OS X hidden files
*.DS_Store

# .hpp files in test folder
test/**/*.hpp