version=0.26.1
# loosely re-creates the now-removed "compact" profile
break-separators=before
break-before-in=auto
break-collection-expressions=wrap
dock-collection-brackets=false
doc-comments=before-except-val
indicate-nested-or-patterns=space
field-space=tight
space-around-lists=false
space-around-records=false
space-around-variants=false
sequence-blank-line=compact
